<div class="row">
  <% @alphabets.each do |alphabet| %>
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 text-center">
    <div class="alphabet-wrapper">
      <img src="<%= image_path(alphabet.image_url)%>">
    </div>
    <p><%= alphabet.alphabet %></p>
  </div>
  <% end %>
</div>
