<h1>Welcome.</h1>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Learn Tibetan Alphabets</h5>
        <p class="card-text">A fun way to learn the alphabets - just type what you see!</p>
        <%= link_to "Get Started", alphabet_answers_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
