<div class="alphabet-form">
  <div class="direction row">
    <div class="col-md-6">
      <%= link_to 'Previous', alphabet_answer_path(previous_page(@alphabet.rank)), class: "float-left" if previous_page(@alphabet.rank) %>
    </div>
    <div class="col-md-6">
      <%= link_to 'Skip', alphabet_answer_path(next_page(@alphabet.rank)), class: "float-right" if next_page(@alphabet.rank) %>
    </div>
  </div>
  <center>
    <img src="<%= image_path(@alphabet.image_url) %>"><br/><br/>
    <div class="alert alert-primary" role="alert">
      <p><%= @alphabet.alphabet %></p>
    </div>
  </center>
  <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
    <% end %>
  <%= form_for @alphabet_answer, method: 'patch' do |f| %>
    <div class="field">
      <%= f.label :answer %>
      <% if @alphabet_answer.correct %>
        <i class="fa fa-check" aria-hidden="true"></i>
      <% elsif @alphabet_answer.answer.present? %>
        <i class="fa fa-times" aria-hidden="true"></i>
      <% end %>
      <%= f.text_field :answer, class: "form-control" %>
      <br/>
      <%= f.hidden_field :alphabet_id, value: @alphabet.id %>
      <%= f.submit 'Submit', class: "btn btn-success" %>
    </div><!-- field -->
  <% end %>

  <input type="button" value="Reveal Answer" id="revealAnswer" class="btn btn-primary">
  <br/>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#revealAnswer').click(function(){
      $('.alert').toggle();
    });
  })
</script>
