<div class="container">
  <div class="jumbotron">
    <h1>Quiz Complete!</h1>
    <p>Your scores as highlighted:</p>
    <p><%= current_user.alphabet_answers.where(correct: true).count %>/<%= Alphabet.count %></p>
    <h2>Incorrect answers:</h2>

    <% current_user.alphabet_answers.where(correct: false).each do |incorrect| %>
      <p>Answered:<%= incorrect.answer %></p>
      <p>Actual answer:<%= incorrect.alphabet.alphabet %></p>
      <hr/>
    <% end %>

    <h2>Unanswered questions:</h2>
    <% unanswered_questions = current_user.unanswered_questions %>
    <% if unanswered_questions.any? %>
      <% unanswered_questions.each do |unanswered| %>
        <p><%= unanswered.alphabet.rank %>. <%= link_to unanswered.alphabet.alphabet, alphabet_answer_path(unanswered.alphabet.rank) %></p>
      <% end %>
    <% else %>
      <p>None!</p>
    <% end %>

    <%= link_to "Restart", alphabet_answers_restart_path, :data => {:confirm => 'This will remove all your current answers - Are you sure?'}, class: "btn btn-danger" %>
  </div>
</div>
