<!DOCTYPE html>
<html>
  <head>
    <title>LearnTibetan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if action_name == "index" %>
      <%= render "navbar" %>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
